.nav-container {
    /* position: fixed; */
    height: 10vh;
    display:flex;
    border: 1px dotted black;
    width: 100%;
    z-index : 1;
    box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.918);
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;

}

.nav-container p {
    text-align: center;
    padding: 12px;
}


.r-nav {
    display:block;
    /* wont work because the parent container has flexbox */
    padding: 16px;
}

.r-nav span {
    margin-left: 9px;
}

input {
    margin-left: 100px;
    border-radius: 10%;
}
