.virtual-container {
    display:block;
    margin: 0 120px;

}

.star {
    color:red;
}

.reviews {
    margin-left: 15px;
    font-size: 15px;
}

.location {
    margin-left: 15px;
    color:red;
}

.meta-info {
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 2x0px;
   
}

h1 {
    padding: 6px;
}

.home {
    margin-left: 15px;
    margin-right: 5px;
    color:red;
    font-size: 15px;
}

.share {
    margin-left: 50px;

}

.share, .save {
    text-decoration: none;
    color:black;
}

.lt-img{
    border: 1px solid black;
    height: 356px;
    width: 550px;
}

.rt-img {

    border: 1px solid black;
    height: 356px;
    width: 600px;
    
}

.home-imgs {
    display:flex;
    margin: 10px;
   
}